[submodule "pdfminer"]
	path = pdfminer
	url = https://github.com/euske/pdfminer.git
[submodule "pdfminer-lib"]
	path = pdfminer-lib
	url = https://github.com/euske/pdfminer.git
[submodule "pdf2htmlEX"]
	path = pdf2htmlEX
	url = https://github.com/coolwanglu/pdf2htmlEX.git
